<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="nav">
            <div class="upper-nav">
                <div class="user-location">
                    <div class="user-location-icon">
                        <i class="fa fa-map-marker"></i>
                        <div class="user-location-short-add">HOME</div>
                        <div class="chevron">&#x2304;</div>
                    </div>
                    <div class="user-location-address">

                    </div>
                </div>

                <div class="search-cover pc-view">
                    <div class="search-icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Search shops, food items...">
                    </div>

                </div>

                <div class="nav-right-menu">
                    <div class="nav-right-menu-item profile">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="nav-right-menu-item cart">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="lower-nav">
                <div class="search-cover mobile-view">
                    <div class="search-icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Search shops, food items...">
                    </div>

                </div>
            </div>
        </div>

        <div class="side-bar">
            <div class="home"><i class="fas fa-house"></i></div>
            <div class="prev-orders"><i class="fas fa-clock-rotate-left"></i></div>
            <div class="cart"><i class="fas fa-shopping-cart"></i></div>
            <div class="shops"><i class="fas fa-store"></i></div>
            <div class="account"><i class="fas fa-user"></i></div>
        </div>

        <div class="main">
            <div class="class-container">
                <div class="classification">
                    <div class="jain-cat main-class" style="border-radius: 10px 0 0 10px;">Beverages</div>
                    <div class="veg-cat main-class">Vegeta..</div>
                    <div class="nonveg-cat main-class" style="border-radius: 0 10px 10px 0;">Non-Veg..</div>
                </div>
            </div>

            <!-- VEG CONTAINER -->

            <div class="main-container veg-container">
                <div class="class">
                    <div class="class-name">Most Loved Dishes</div>
                    <div class="class-items" style="overflow-x: scroll;">
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/pictures/7/21714097/4fbcbabd4d41aaf2425c7fa99de0c240_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/pictures/3/20677043/9dee8652035590985126d64c04300872_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/9/20855819/7d42ed2bf277714fdddab660f71dedb6_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/dish_photos/68c/fa89a9a610732051e97cb6a1bfe2968c.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/pictures/9/20619329/9b158c29ff31f3e341eecc0b10c59d4c_o2_featured_v2.jpg"
                                alt=""></div>

                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/pictures/7/20770727/e37b086a17a5278f7671fa5267ca8acf_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/dish_photos/b3a/f48c4076e1cbaed9d1a517ece2d1bb3a.png"
                                alt=""></div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/dish_photos/fbf/7123d4526c71ed8a26619a711adabfbf.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/4/21403194/a1c78e83855ba8c3eb324dae31f6f401_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/f1a/69b848712ba1e0018c1022f5f3eacf1a.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/3e4/1051f10fe0fd08a026cf3cadbe1d13e4.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/6e6/2446585e5e59b1fb8d38e672911ac6e6.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/9/21817569/53e676a6591c4531b88520abe93a5b77_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/pictures/9/21083529/7c29f02811fedfe10185c01e8f305463_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/c07/b2f43213db3a881a3762d99fa77b2c07.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="banner">
                    <img src="/images/7967051.jpg" alt="">
                </div>
                <div class="class">
                    <div class="class-name">Smart Bites for Today</div>
                    <div class="class-items">
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/409/5c00a164b7eaa23cf730d0a22506f409.jpeg?output-format=webp"
                                alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/dish_photos/633/3aefe72f079d7715ec413519d16ca633.jpg?output-format=webp"
                                alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/pictures/2/19626812/cb11a3aad784f2ef9c4a2c43217c6bb1_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/3/19104463/50e3e99eb7dbb4037ed8c90713c92f54_o2_featured_v2.jpeg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/7/21714097/4fbcbabd4d41aaf2425c7fa99de0c240_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/3/20677043/9dee8652035590985126d64c04300872_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/2/21570142/cd8de009e685a12f2e01eee91664f237_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/68c/fa89a9a610732051e97cb6a1bfe2968c.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/8/18991038/03b0ea6313a8db28ab6993837d90d3a2_o2_featured_v2.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="class">
                    <div class="class-name">Our Daily Offerings</div>
                    <div class="class-list-items">



                        <% vegItems.forEach((item)=> { %>
                            <div class="class-list-item">
                                <div class="list-item-img">
                                    <img src="<%= item.itemImg %>" alt="">
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-name">
                                        <%= item.itemName %>
                                    </div>
                                    <div class="list-item-des">
                                        <%= item.itemDes %>
                                    </div>

                                    <div class="list-item-pricing">₹<%= item.itemPrice %>/-</div>
                                    <div class="list-item-purchase">
                                        <button class="addToCartBtn">
                                            <i class="fa fa-shopping-cart"></i> Add Meal
                                        </button>

                                        <div class="quantity-controls" style="display: none;">
                                            <button class="decreaseBtn">−</button>
                                            <span class="itemCount" data-id="<%= item.id %>">1</span>
                                            <button class="increaseBtn">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>


                    </div>
                </div>
            </div>



            <!-- NON VEG CONTAINER -->



            <div class="main-container non-veg-container" style="display: none;">
                <div class="class">
                    <div class="class-name">Most Loved Dishes</div>
                    <div class="class-items" style="overflow-x: scroll;">
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/00a/c05e815d8b47a63f608b613bc597c00a.png"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/e93/24c15683e8c5d30a320d23a429237e93.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/0e8/c22bf0cb5d6a874cb74cca4d0dc470e8.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/0d4/9d6f3f2c6c1c25db437a13eed9a2a0d4.png"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/471/8515e60d85d05e41dab65001c790b471.png"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/7/19824527/4b032bbcd46e4db034cfebab158a720f_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/7/19824527/4b032bbcd46e4db034cfebab158a720f_o2_featured_v2.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/c9d/4a58cd8bc7a6203273413e9c118bac9d.png"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/621/edb749baf02a9f86b7c199d06c75b621.jpg"
                                alt=""></div>

                    </div>
                </div>
                <div class="banner">
                    <img src="/images/7967051.jpg" alt="">
                </div>
                <div class="class">
                    <div class="class-name">Smart Bites for Today</div>
                    <div class="class-items">
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/621/edb749baf02a9f86b7c199d06c75b621.jpg"
                                alt="">
                        </div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/pictures/7/19824527/4b032bbcd46e4db034cfebab158a720f_o2_featured_v2.jpg"
                                alt="">
                        </div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/471/8515e60d85d05e41dab65001c790b471.png"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/0d4/9d6f3f2c6c1c25db437a13eed9a2a0d4.png"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/0e8/c22bf0cb5d6a874cb74cca4d0dc470e8.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="	https://b.zmtcdn.com/data/dish_photos/e93/24c15683e8c5d30a320d23a429237e93.jpg"
                                alt=""></div>
                        <div class="class-item"><img
                                src="https://b.zmtcdn.com/data/dish_photos/e93/24c15683e8c5d30a320d23a429237e93.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="class">
                    <div class="class-name">Our Daily Offerings</div>
                    <div class="class-list-items">



                        <% nonVegItems.forEach((item)=> { %>
                            <div class="class-list-item">
                                <div class="list-item-img">
                                    <img src="<%= item.itemImg %>" alt="">
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-name">
                                        <%= item.itemName %>
                                    </div>
                                    <div class="list-item-des">
                                        <%= item.itemDes %>
                                    </div>

                                    <div class="list-item-pricing">₹<%= item.itemPrice %>/-</div>
                                    <div class="list-item-purchase">
                                        <button class="addToCartBtn">
                                            <i class="fa fa-shopping-cart"></i> Add Meal
                                        </button>

                                        <div class="quantity-controls" style="display: none;">
                                            <button class="decreaseBtn">−</button>
                                            <span class="itemCount" data-id="<%= item.id %>">1</span>
                                            <button class="increaseBtn">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>


            <!-- BEVERAGE CONTAINER -->


            <div class="main-container bev-container" style="display: none;">
                <div class="class">
                    <div class="class-name">Most Loved Beverages</div>
                    <div class="class-items" style="overflow-x: scroll;">
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/f1/29/c2/f129c2125b5979870e1194002cbec464.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/8b/99/26/8b99263decd881db9e263c407fffb421.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/f4/1c/9f/f41c9f66c20338ff94f8658b4d9c7756.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/6d/d7/09/6dd709f919e4a20f821d2e4e2b7c9e2b.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/ae/a8/61/aea861fb78d067a5deffa65a2f2ec763.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/38/ac/c6/38acc62afd2427a8daa60ee73fe4dcaa.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/f2/6e/8d/f26e8d72acead8ad45a5617ffeb0ff82.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/63/8b/11/638b1109d18ecdadddb404db11bacfbd.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://i.pinimg.com/736x/a2/c4/44/a2c444ca93df6b86b2a666ffe6d2707e.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <img src="/images/cocacola.jpg" style="object-position: top;" alt="">
                </div>
                <div class="class">
                    <div class="class-name">Smart Drinks for Today</div>
                    <div class="class-items">
                        <div class="class-item"><img
                                src="	https://i.pinimg.com/736x/9e/fb/66/9efb66f51aedc31b5e8e2d2f4008e16b.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="	https://i.pinimg.com/736x/38/9b/78/389b78096453ea3c64403a98c0dc0175.jpg" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://isokko.com/m/media/upload/photos/2025/01/103_6787985f6c0a5.png" alt="">
                        </div>
                        <div class="class-item"><img
                                src="	https://isokko.com/m/media/upload/photos/2024/12/312_67695dad0a7d5.png" alt="">
                        </div>
                        <div class="class-item"><img
                                src="https://isokko.com/m/media/upload/photos/2024/12/36_676189afe7cb3.png" alt="">
                        </div>
                        <div class="class-item"><img
                                src="	https://isokko.com/m/media/upload/photos/2025/01/36_678a35da035af.png" alt="">
                        </div>
                        <div class="class-item"><img
                                src="	https://isokko.com/m/media/upload/photos/2024/12/127_676138d9dafbf.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="class">
                    <div class="class-name">Our Daily Offerings</div>
                    <div class="class-list-items">



                        <% bevItems.forEach((item)=> { %>
                            <div class="class-list-item">
                                <div class="list-item-img">
                                    <img src="<%= item.itemImg %>" alt="">
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-name">
                                        <%= item.itemName %>
                                    </div>
                                    <div class="list-item-des">
                                        <%= item.itemDes %>
                                    </div>

                                    <div class="list-item-pricing">₹<%= item.itemPrice %>/-</div>
                                    <div class="list-item-purchase">
                                        <button class="addToCartBtn">
                                            <i class="fa fa-shopping-cart"></i> Add Meal
                                        </button>

                                        <div class="quantity-controls" style="display: none;">
                                            <button class="decreaseBtn">−</button>
                                            <span class="itemCount" data-id="<%= item.id %>">1</span>
                                            <button class="increaseBtn">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>



            <div class="copyright-container">
                &copy; 2025 rasoee. All rights reserved.
            </div>

            <div class="down-bar">
                <div class="home"><i class="fas fa-house"></i></div>
                <div class="prev-orders"><i class="fas fa-clock-rotate-left"></i></div>
                <div class="cart"><i class="fas fa-shopping-cart"></i></div>
                <div class="shops"><i class="fas fa-store"></i></div>
                <div class="account"><i class="fas fa-user profile"></i></div>

            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <script>
        Array.from(document.querySelectorAll(".cart")).forEach((Element) => {
            Element.addEventListener("click", () => {
                if (items.some(n => n !== 0)) {
                    sendCartData(items)
                }
            })
        })
    </script>
    <script>

        let items = new Array(150).fill(0);

        // Select only class-list-item elements within the veg-container
        // Target ALL class-list-item elements (works for Veg/Non-Veg/Beverages)
        document.querySelectorAll('.class-list-item').forEach((Element) => {
            const addToCartBtn = Element.querySelector('.addToCartBtn');
            const quantityControls = Element.querySelector('.quantity-controls');
            const decreaseBtn = Element.querySelector('.decreaseBtn');
            const increaseBtn = Element.querySelector('.increaseBtn');
            const itemCount = Element.querySelector('.itemCount');

            // Skip elements that don't have the required buttons/controls
            if (!addToCartBtn || !quantityControls || !decreaseBtn || !increaseBtn || !itemCount) {
                return;
            }

            let count;

            addToCartBtn.addEventListener("click", (event) => {
                event.preventDefault();
                addToCartBtn.style.display = "none";
                quantityControls.style.display = "flex";
                count = 1;
                items[parseInt(itemCount.dataset.id)] = 1;
                itemCount.textContent = count;
            });

            decreaseBtn.addEventListener("click", (event) => {
                event.preventDefault();
                if (count > 1) {
                    itemCount.textContent = --count;
                    items[parseInt(itemCount.dataset.id)] -= 1;
                } else {
                    items[parseInt(itemCount.dataset.id)] = 0;
                    addToCartBtn.style.display = "flex";
                    quantityControls.style.display = "none";
                }
            });

            increaseBtn.addEventListener("click", (event) => {
                event.preventDefault();
                itemCount.textContent = ++count;
                items[parseInt(itemCount.dataset.id)] += 1;

            });
        });

        async function sendCartData(cartItem) {
            try {
                const res = await fetch("/home", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ item: cartItem })
                })
                console.log(res)
                if (res.ok) {
                    response = await res.json();
                    console.log(response.items)
                    await window.sessionStorage.setItem('items', JSON.stringify(response.items));
                    await window.sessionStorage.setItem('values', JSON.stringify(response.values));
                    window.location.href = "/cart"
                } else {
                    console.log("Some error occured!")
                }
            } catch (err) {
                console.log("Some error occured!")
            }
        }


        const addressInp = document.getElementsByClassName("user-location-address")[0]
        const address = sessionStorage.getItem("address");

        if (address) {
            const shortAddress = address.length >= 28
                ? address.slice(0, 28) + '...'
                : address;
            addressInp.innerText = shortAddress;
        } else {
            addressInp.innerText = "No address found.";
        }

    </script>
</body>


</html>